---
import Card from "./Card.astro";
---

<main class="z-10 flex md:flex-row flex-col h-screen w-screen justify-center items-center gap-4">
    <Card title="wukong!" body="A friendly multi-purpose Discord bot focused on user experience."
        href="https://caslus.github.io/wukong" image="wukong" />
    <Card title="Gnomify" body="A simple gnome-styled URL shortener." href="https://gnomify.vercel.app/"
        image="gnomify" />
</main>