---
export interface Props {
	title: string;
	body: string;
	href: string;
	image: string;
}
const { href, title, body, image } = Astro.props;
---

<div class="lg:h-48 lg:w-96 w-80 h-80 group lg:perspective lg:drop-shadow-xl">
	<div class="relative w-full h-full lg:preserve-3d lg:group-hover:rotateY-180 lg:focus-within:rotateY-180 lg:duration-700
		flex flex-col">
		<div class="lg:absolute w-full h-full lg:backface-hidden rounded-2xl">
			<img src={`./${image}.png`} alt="Project image" class="h-full w-full object-cover rounded-2xl">
		</div>
		<div class="lg:absolute w-full h-full lg:backface-hidden lg:rotateY-180 lg:duration-700 bg-background">
			<div class="w-full h-full p-4 flex flex-col justify-between items-center text-center
			lg:opacity-0 lg:group-hover:opacity-100 lg:focus-within:opacity-100 lg:duration-500 lg:delay-300">
				<h1 class="font-bold">{title}</h1>
				<p>{body}</p>
				<a target="_blank" href={href}
					class="bg-primary p-2 rounded-xl text-center hover:brightness-110 active:brightness-50">
					Open
				</a>
			</div>
		</div>
	</div>
</div>