---
import Layout from "../layouts/Layout.astro";
import About from "../components/About.astro";
import Cards from "../components/Cards/Cards.astro";
import Socials from "../components/Socials.astro";
import Navbar from "../components/Navbar/Navbar.astro";
---

<Layout title="Lucas Philippe - Portfolio">
	<Navbar />
	<div class="bg-background text-foreground">
		<section class="h-screen flex items-center justify-center snap-center overflow-hidden" id="about">
			<About />
		</section>
		<section class="h-screen flex items-center justify-center snap-center overflow-hidden" id="projects">
			<Cards />
		</section>
		<section class="h-screen flex items-center justify-center snap-center overflow-hidden" id="socials">
			<Socials />
		</section>
	</div>
</Layout>

<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&family=Fira+Mono&wght@400&display=swap');

	::selection {
		background-color: #B33030;
		color: #d6d6d6;
	}

	html {
		scroll-behavior: smooth;
	}
</style>