---
import Scribble from './Scribble';
---

<main class="flex w-[50em] items-center p-4 z-10">
    <div class="p-1 drop-shadow-lg">
        <span class="font-mono">👋 Hi, my name is</span>
        <h1 class="font-extrabold text-4xl py-4">Lucas Philippe</h1>
        <span>I'm a software engineering student in <a target="_blank"
                href="https://www.google.com/maps/place/Curitiba,+PR/"
                class="underline hover:text-primary">Curitiba</a></span>
        <p class="text-foreground-darker">
            Since I was a child I've always loved computers and technology. This website is supposed
            to be a time capsule where I can share what I've learned and created — a place where I will be
            happy
            to tell others about in the future.
        </p>
    </div>
    <div class="shrink-0 p-1">
        <img src="/lucas.jpg" alt="A picture of me piloting a skydiving canopy"
            class="h-0 md:h-72 rounded-3xl drop-shadow-xl">
    </div>
</main>

<Scribble client:load />