---
import Card from "../components/Card.astro";
---

<main class="z-10 flex md:flex-row flex-col">
    <Card title="wukong!" body="A friendly multi-purpose discord bot focused on user experience."
        href="https://caslus.github.io/wukong" image="/wukong.png" />
    <Card title="Gnomify" body="A simple gnome-styled URL shortener." href="https://gnomify.vercel.app/"
        image="/gnomify.png" />
</main>