---
interface Props {
    src: string;
    alt: string;
}

const { src, alt } = Astro.props;
---

<div
    class="flex shrink-0 justify-center max-md:w-full max-2xsm:hidden [perspective:20rem]"
>
    <img
        src={src}
        alt={alt}
        class="mx-auto w-80 rounded-2xl max-sm:w-[min(22rem,90vw)]"
    />
</div>
