---
import { defaultLanguage, languages } from "../i18n/ui";
import { getLangFromUrl } from "../i18n/utils";

import { url } from "../config/config";

const currentLang = getLangFromUrl(Astro.url);
const langs = languages.filter((language) => language.code !== currentLang);
---

<languages class="absolute top-4 right-4 flex gap-4">
	{
		langs.map((language, i) => (
			<>
				<a href={language.code !== defaultLanguage ? `${url}/${language.code}` : url} class="text-content-dark no-underline hover:underline hover:text-secondary focus:underline focus:text-secondary">
					{language.name}
				</a>
				{i !== langs.length - 1 && <span class="text-content-dark select-none">・</span>}
			</>
		))
	}
</languages>
