---
import { languages, defaultLanguage } from "../i18n/ui";
import { getLangFromUrl } from "../i18n/utils";

const currentLang = getLangFromUrl(Astro.url);
const langs = languages.filter((language) => language.code !== currentLang);
---

<languages>
	{
		langs.map((language, i) => (
			<>
				<a href={language.code !== defaultLanguage ? `/${language.code}` : "/"}>{language.name}</a>
				{i !== langs.length - 1 && <span>・</span>}
			</>
		))
	}
</languages>

<style>
	languages {
		position: absolute;
		top: 1rem;
		right: 1rem;
		display: flex;
		gap: 1rem;
	}

	a,
	span {
		color: #8c8c8c;
		text-decoration: none;
	}

	span {
		user-select: none;
	}

	a:hover {
		text-decoration: underline;
		color: #d6d6d6;
	}
</style>
