---
export interface Props {
    href: string;
    title: string;
}
const { href, title } = Astro.props;
---

<div class="relative group flex flew-row justify-center items-center">
    <a href={`#${href}`} class="group-hover:text-foreground group-focus-within:text-foreground">{title}</a>
    <div class="absolute w-0 h-0.5 -mb-[1.5rem] bg-foreground
        group-hover:w-16 group-focus-within:w-16 transition-all"></div>
</div>