---
import NavbarElement from './NavbarElement.astro';
---

<div class="fixed w-full h-10 z-20 flex justify-end px-6">
    <div class="h-full flex items-center gap-8 text-foreground-darker">
        <NavbarElement href="about" title="01. About" />
        <NavbarElement href="projects" title="02. Projects" />
        <NavbarElement href="socials" title="03. Socials" />
    </div>
</div>