---
import { url } from "../config/config";
import { Icon } from "astro-icon/components";
import { getLangFromUrl, useTranslation } from "../i18n/utils";
import type { UI, UIStrings } from "../interfaces/i18n";

interface Props {
	href: string;
	icon: string;
	text: keyof UI;
}

const { href, icon, text }: Props = Astro.props;

const lang = getLangFromUrl(Astro.url);
const translation = useTranslation(lang as keyof UIStrings);
---

<a
	href={href}
	target="_blank"
	rel="noopener noreferrer"
	class="text-title-dark no-underline hover:underline hover:text-secondary focus-visible:underline focus-visible:text-secondary flex items-center"
>
	<Icon name={icon} class="w-4 h-4 mr-2 inline" />
	{translation(text)}
</a>
